<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.vitkt.watchingcorn"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true" />

    <application
        android:hardwareAccelerated="true"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="ru.vitkt.watchingcorn.CornWallpaper"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter android:priority="1" >
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/mywallpaper" />
        </service>
        <activity
            android:name="ru.vitkt.watchingcorn.CornPreference"
            android:exported="true"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>